@import "./normalize.css";

/*:root -> 获取根元素html*/
:root {
  --color-text: #333;
  --color-high-text: #ff5777;
  --color-tint: #111;
  --color-background: #eee;

  /* 用于歌词显示相关 */
  --lyric-line-height: 20px;
  --lyric-margin-bottom: 20px;
  --vertical-height-offset: 255px;
  --scroll-line-top: 330px;

  /*  颜色定义规范 */
  /* --color-background: #222; */
  --color-background-d: rgba(0, 0, 0, 0.3);
  --color-highlight-background: #333;
  --color-dialog-background: #666;
  --color-theme: #333;
  --color-theme-d: rgba(255, 205, 49, 0.5);
  --color-sub-theme: #d93f30;
  /* --color-text: #fff; */
  --color-text-d: rgba(255, 255, 255, 0.3);
  --color-text-l: rgba(255, 255, 255, 0.5);
  --color-text-ll: rgba(255, 255, 255, 0.8);

  /* 字体定义规范 */
  --font-size-small-s: 10px;
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-medium-x: 16px;
  --font-size-large: 18px;
  --font-size-large-x: 22px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  /* rem vw/vh */
  width: 100vw;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.clear-fix::after {
  clear: both;
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}
